@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
button,
input {
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 2px;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  from {
    background-color: hsl(195, 10%, 80%);
  }
  to {
    background-color: hsl(200, 20%, 95%);
  }
}
